h1, p, button{
    font-size: 60;
    border: dashed blue;
    border: thick 10px;
    flex: 1;
    display:    flex;
}
.project{
    border: solid rgb(131, 131, 47);
    border-style: groove;
    padding: 1em;
    border-width: 2em;
    flex: 1;
    display: flex;
}
body{
    flex: 1;
    display:    flex;
    flex-direction: column;
}
section{
    flex-direction: row;
    display: flex;
    flex: 5;
    border: 5px solid green;
}
section2{
     display: flex;
     flex-direction: center;
     flex: 3;
     border: 10px dashed rebeccapurple;
}